// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #109618;
$gray: #959ca5;
$light-gray: #F4F4F4;
$dark-blue: #183661; 
$blue: #EDF3F9;
$blue-grey: #DAE1E7;
$darker-blue: rgba(24,54,97,0.8);
