<h1>Flats#index</h1>

<p>Monthly rent of flat 1</p>
<p>Amount: <%= humanized_money_with_symbol(Flat.first.monthly_rent) %></p>
<%= bar_chart Flat.group(:area).sum(:monthly_rent_cents) %>


<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
>

</div>
