<div class="container">
    <h1>Pages#dashboard</h1>
    <p>Find me in app/views/pages/dashboard.html.erb</p>
    <a href="" class="button-dark">Dark</a>
    <a href="" class="button-light">Light</a>
    <div class="task-card-small">
        <div class="row" style="display:flex; flex-direction:row;justify-content:space-around">
        <h3>Task title</h3>
        <img class="avatar" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
        </div>
        <p class="content">The woods are lovely dark and deep but I've got promises to keep and miles to go before I sleep and miles to go before I sleep</p>
    </div>
    <div class="task-card-feed">
        <div class="row" style="display:flex; flex-direction:row;justify-content:space-around">
        <h3>Task title</h3>
        <img class="avatar" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
        </div>
        <p class="content">The woods are lovely dark and deep but I've got promises to keep and miles to go before I sleep and miles to go before I sleep</p>
    </div>
    <div class="flatitem">
    <h3 class="address-header">Zehdenicker Straße 68, 10119 Berlin</h3>
    <p class="content">Hello I am some content blablablabl
    blablalablalblalb content yeahhhhh!I am a second line of content yeaaah whoohooo</p>
    </div>

    <div class="dashboard-card-regular">
    <h3 class="title">title</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis iure consequatur consequuntur a recusandae. Soluta praesentium, perspiciatis debitis consequatur dolores sunt magni doloribus itaque optio, expedita repellat exercitationem alias ratione.
    Non nemo vel corporis facilis aspernatur quasi possimus optio, quia quas veritatis ea? Laboriosam dolorem in similique asperiores inventore sit odit molestias voluptatibus architecto saepe obcaecati, unde repudiandae cupiditate dignissimos?
    Quam deserunt omnis qui dolore ipsum animi possimus et ea, eum vero sapiente quod molestiae fugiat officia non, aspernatur recusandae facilis, delectus vel facere perspiciatis placeat ipsa. Dolorum, cumque unde!
    Autem maxime omnis cupiditate! Atque iusto dolorum vitae. Blanditiis nemo assumenda nulla culpa harum, officiis expedita modi veritatis, hic perferendis iusto optio necessitatibus neque nostrum similique non sunt numquam adipisci!
    Officiis deserunt ipsa autem excepturi incidunt! Porro eius at reprehenderit eligendi! Esse, voluptates dicta optio incidunt quo id saepe laborum eligendi nobis temporibus placeat fugit, unde sit ducimus minus adipisci.</p>
    </div>

     <div class="dashboard-card-big">
    <h3 class="title">title</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis iure consequatur consequuntur a recusandae. Soluta praesentium, perspiciatis debitis consequatur dolores sunt magni doloribus itaque optio, expedita repellat exercitationem alias ratione.
    Non nemo vel corporis facilis aspernatur quasi possimus optio, quia quas veritatis ea? Laboriosam dolorem in similique asperiores inventore sit odit molestias voluptatibus architecto saepe obcaecati, unde repudiandae cupiditate dignissimos?
    Quam deserunt omnis qui dolore ipsum animi possimus et ea, eum vero sapiente quod molestiae fugiat officia non, aspernatur recusandae facilis, delectus vel facere perspiciatis placeat ipsa. Dolorum, cumque unde!
    Autem maxime omnis cupiditate! Atque iusto dolorum vitae. Blanditiis nemo assumenda nulla culpa harum, officiis expedita modi veritatis, hic perferendis iusto optio necessitatibus neque nostrum similique non sunt numquam adipisci!
    Officiis deserunt ipsa autem excepturi incidunt! Porro eius at reprehenderit eligendi! Esse, voluptates dicta optio incidunt quo id saepe laborum eligendi nobis temporibus placeat fugit, unde sit ducimus minus adipisci.</p>
    </div>

</div>