<% content_for(:title) do %>
  Flattrack: Dashboard
<% end %>

<div class="container">
    <h1>Pages#dashboard</h1>
    <p>Find me in app/views/pages/dashboard.html.erb</p>
    <a href="" class="button-dark">Dark</a>
    <a href="" class="button-light">Light</a>
    <div class="task-card-small">
        <div class="row" style="display:flex; flex-direction:row;justify-content:space-around">
        <h3>Task title</h3>
        <img class="avatar" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
        </div>
        <p class="content">The woods are lovely dark and deep but I've got promises to keep and miles to go before I sleep and miles to go before I sleep</p>
    </div>
    <div class="task-card-feed">
        <div class="row" style="display:flex; flex-direction:row;justify-content:space-around">
        <h3>Task title</h3>
        <img class="avatar" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
        </div>
        <p class="content">The woods are lovely dark and deep but I've got promises to keep and miles to go before I sleep and miles to go before I sleep</p>
    </div>
    <div class="flatitem">
    <h3 class="address-header">Zehdenicker Straße 68, 10119 Berlin</h3>
    <p class="content">Hello I am some content blablablabl
    blablalablalblalb content yeahhhhh!I am a second line of content yeaaah whoohooo</p>
    </div>
</div>
