<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536376072261-38c75010e6c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80);">
  <div class="container" style="text-align:center">
    <h1>FlatTrack is <strong>the solution</strong> to manage <strong>your real estate</strong>!</h1>
    <p>Manage your real estate effectively and efficiently</p>
    <a class="btn btn-flat" href="#">Start working efficently</a>
        <div class="row justify-content-between" style="margin-top:40vh;">
            <div class="infobox"> 
            <h3>I am an infobox</h3> 
            </div>
            <div class="infobox"> 
            <h3>I am another infobox</h3>
            </div>
            <div class="infobox"> 
            <h3>I am another infobox</h3>
            </div>
        </div>
  </div>
</div>
