<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(banner_background.jpeg);">
  <div class="container" style="text-align:center; height:70vh">
    <h1>Unleash the full potential of your properties!</h1>
    <p style="text-shadow: 0 1px 2px rgba(0,0,0,0.8);">Keep track of tasks and investments</p>
    <%= link_to tasks_path do %>
    <button class="button-dark"style="background-color:#1450a7;text-transform: uppercase;
    letter-spacing:0.7px;margin-top:0px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.8);">Get started</button>
    <%end%>
  </div>
    <div class="container" style="height:auto">
    <div class="row justify-content-around mt-5">
        <div class="infobox">
        <i class="fas fa-chart-line"></i>
        <h3 class ="lighter grey-out">Asset management</h3>
        <p>Flexibly manage your investments on the go and create a modern workplace for your employees</p>
        </div>
        <div class="infobox">
        <i class="fas fa-project-diagram"></i>
        <h3 class="lighter grey-out">Contract management</h3>
        <p>Your real estate data accessible at any place and time, unleash the full potential of your properties</p>
        </div>
        <div class="infobox">
        <i class="fas fa-comments"></i>
        <h3 class="lighter grey-out">Project collaboration</h3>
        <p>Communicate effectively with your employees and coworkers</p>
        </div>
      </div>
</div>
</div>
