<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(banner_background.jpeg);">
  <div class="container" style="text-align:center; height:70vh">
    <h1>Furnished renting made easy</h1>
    <p style="text-shadow: 0 1px 2px rgba(0,0,0,0.8);">Unleash the full potential of your properties!</p>
    <%= link_to tasks_path do %>
    <button class="button-dark"style="background-color:#1450a7;text-transform: uppercase;
    letter-spacing:0.7px;margin-top:0px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.8);">Get started</button>
    <%end%>
  </div>
    <div class="container" style="height:auto">

    <div class="row justify-content-around mt-5">
        <div class="infobox"> 
        <i class="fas fa-chart-line"></i> 
        <h3 class ="lighter grey-out">Inventory management</h3>
        <p>Improve performance of your furnished flats by tracking associated expenses.</p>
        </div>
        <div class="infobox">
        <i class="fas fa-project-diagram"></i>            
        <h3 class="lighter grey-out">Contracting</h3>
        <p>Digitize your real estate data and make it accessible at any place and time. <!--Unleash the full potential of your properties--></p>

        </div>
        <div class="infobox">
        <i class="fas fa-comments"></i>
        <h3 class="lighter grey-out">Project collaboration</h3>

        <p>Streamline your communication, improve accountability & manage all your team's work in one place. <!--From the big picture to the minute details.--></p> 
        </div>
      </div>
</div>
</div>
