/*dark buttons for light background*/
.button-dark-dashboard{
    padding: 2px 20px;
    background-color: $background-kpis-dashboard;
    height: 2.5rem;
    color: rgb(72,72,72);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    font-weight: bold;
    border:none;
    font-size: 20px;
    font-family: $headers-font;
    text-decoration:none;
    transition: 0.2s;
    margin: auto 0;
    opacity: 1;
    &:hover{
        text-decoration: none;
        color: rgba(72,72,72, 0.808);
    }
    &:focus{
        text-decoration:none;
        border: none;
        outline: none;
    }
    // &.show-page {
    //   top: 5px;
    //   right: 5px;
    // }
}

.button-dark{
    padding: 8px 20px;
    background-color: $dark-blue;
    color: #FAFAFA;
    font-weight: bold;
    font-family:$body-font;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.3s;
    margin: 4px;
    &:hover{
        text-decoration: none;
        background-color:#011331;
        color: #FAFAFA;
    }
    &:focus{
        outline:none;
    }
}

/*light buttons for dark backgrounds*/
.button-light{
    padding: 8px 30px;
    background-color: $blue-grey;
    color: black;
    font-weight: bold;
    font-family:$headers-font;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.3s;
    margin: 4px;
    &:hover{
        text-decoration: none;
        background-color:#afc3d3;
        color: black;
    }
    &:focus{
        outline:none;
    }
}



.button-navbar {
    padding: 8px 16px;
    background-color: transparent;
    color:white;
    text-decoration: none;
    transition: 0.5s;
    margin: 5px 0;
    font-family:$headers-font;
    align-self: center;
    font-weight: bold;
    &:hover{
        text-decoration: none;
        // color: $blue-grey;
        border-bottom: thin solid $blue;
    }
}
