.task-card-small{
    border-radius: 2px;
    background-color: $blue;
    width: 320px;
    border: 0.5px solid $gray;
    display:flex;
    flex-direction: column;
    text-align:center;
    padding: 4px;
    margin: 10px;
}

.task-card-small h3 p{
 font-size: 16px;
}

.task-card-small h3{
    font-weight: lighter;
}


.task-card-small .row{
    display:flex; 
    flex-direction:row;
    justify-content:space-around;
    align-content: center;
}

.task-card-feed {
    border-radius: 2px;
    background-color: $blue;
    width:490px;
    border: 0.5px solid $gray;
    display: flex;
    flex-direction: column;
    text-align:center;
    padding:4px;
    margin: 10px;
}

.task-card-feed h3 p{
    font-size: 16px;
}

.task-card-feed h3{
    font-weight:lighter;
}

.task-card-feed .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}