/* 95% content container, min-height due to footer positioning*/
.container {
    width:90%;
    margin-right: auto;
    margin-left: auto;
    height: 93vh;
}

.task-feed-container {
    grid-area: 1 / 1 / last-line / 1;
    padding: 4px;
    padding-right: 10px;
    padding-left: 10px;
    overflow-y: auto;
    height: auto;
    background:$background-kpis-dashboard;
    margin-right: 8px;
    margin-bottom: 10px;
    a {
      color: #484848;
    }
}

.task-feed-container > h3 {
    margin-left: 0.5rem;
}

/*container for dashboard items */
.dashboard-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    border-radius: 2px;
    padding: 0;
    height: 80vh;
    /*background: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(232,232,232,0.5) 32%, rgba(232,232,232,1) 40%), ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    }
/*container for task feed items inside the dashboard container*/

.item-padding{
    padding: 4px;
}
/*start card items dashboard*/
.item-a {
    grid-area: 3 / 3;
    background: $background-kpis-dashboard;
    margin-bottom: 10px;
}

.item-b {
    grid-area: 3 / 2;
    background: $background-kpis-dashboard;
    margin-bottom: 10px;
}

.item-c {
    grid-area: 2 / 3;
    background:$background-kpis-dashboard;
}

.utilities{
    color: $red;
}

.item-d {
    grid-area: 2 / 2;
    background:$background-kpis-dashboard;
    }

.cashflow{
        color: $green;
        }
// diagramm item
.item-e {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background:$background-kpis-dashboard;
}

//.item-f {
//    grid-area: 2 / 3;
//    background:$background-kpis-dashboard;
//}


/*end card items dashboard*/

/*flat index page container for top(where map and flatlist is displayed*/

.container-flat-index {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    height: calc(100vh - 155px);
}

/* flat index page container for bottom (where tasks are displayed*/
.container-flat-index-tasks {
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.container-flat-index-tasks-a{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items:center;
}

.container-flat-index-tasks-b{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items:center;
}

/*following item creation in top grid on flat-index-page*/

.item-map {
    grid-area: 1 / 1 / 5 / 1;
}

.item-list {
   grid-area: 1 / 2 / 5 / 2;
   overflow-y: auto;
   background: #FAFAFA;
   // max-height: 630px;
}


.item-task-a {
    grid-area: 1 / 1;
}
.item-task-b {
    grid-area: 1 / 2;
}
.item-task-c {
    grid-area: 1 / 3;
}

/*Grid-Layout for CSS for flat show-page*/
/*container to display information on top of showpage*/
.kpi-container {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 2rem;
    text-align:center;
    align-items: flex-start;
}

.subheader {
  margin-top:0px;
  color: rgb(72,72,72);
  font-size: 16px;

}

.dashboard-kpis {
  font-size: 40px;
}
.card-head{
    width: 20rem;
}

.kpi-container-item-a{
    grid-area: 1 / 1;
    border-right: thin double $dark-blue;
    border-left: thin double $dark-blue;
}

.kpi-container-item-b{
    grid-area: 1 / 2;
    border-right: thin double $dark-blue;
}
.kpi-container-item-c{
    grid-area: 1 / 3;
}
.kpi-container-item-d{
    grid-area: 1 / 4;
    border-right: thin double $dark-blue;
    border-left: thin double $dark-blue;
}

/*container for bottom half of page*/
.flat-info-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
}
/*left side column in flat-info-container*/
.flat-info-column-a{
    grid-area: 1 / 1;
    display:grid;
    grid-template-rows: 325px 1fr;
    grid-template-columns: 1fr;
    justify-content:center;
    background: #FAFAFA;
    padding: 10px 30px;
    max-height: 90vh;
}

.flat-info-foto-display{
    grid-area: 1 / 1;
    /*width: 600px;
    margin-left: 7rem;*/
    height:250px;
    background: $gray;
}

.flat-info-button{
    grid-area: 2 / 1;
}
.flat-info-important{
    grid-area: 2 / 1;
    justify-items: center;
    justify-content:center;
}

.show-header{
    grid-template-columns: 1fr 1fr;
    display:grid;
}

.flat-info-important > a{
    // border-bottom: 1px solid rgba(0,0,0,0.1);
    // border-top: 1px solid rgba(0,0,0,0.1);
}
/*right side column in flat-info-container*/
.flat-info-column-b{
    grid-area: 1 / 2;
    grid-template-rows: 1fr 1fr 2fr 2fr 2fr;
    grid-template-columns: 2;
    justify-content:stretch;
    margin-left: 30px;
    background: #FAFAFA;
    padding: 10px 30px;
    overflow-y: auto;
    max-height: 90vh;
    position: relative;
    a {
      color: #484848;
    }
}
/*
.flat-info-column-b-item-a{
    grid-area: 1 / 1;
}

.flat-info-column-b-item-b{
    grid-area: 2 / 1;
}
.flat-info-column-b-item-c{
    grid-area: 3 / 1;
}

.flat-info-column-b-item-d{
    grid-area: 4 / 1;
}
*/
