/* 95% content container, min-height due to footer positioning*/
.container {
    width:95%;
    margin-right: auto;
    margin-left: auto;
    min-height: 77vh;
    text-align:center;
}

/*container for dashboard items */
.dashboard-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto 33.33%;
    }
/*container for task feed items inside the dashboard container*/
.task-feed-container {
    grid-area: 1 / 1 / last-line / last-line;
    justify-items:center;
    place-self: stretch;
}

/*start card items dashboard*/
.item-a {
    grid-area: 1 / 2;
}

.item-b {
    grid-area: 1 / 3;
}

.item-c {
    grid-area: 2 / 3;
}

.item-d {
    grid-area: 3 / 3;
}

.item-e {
    grid-area: 2 / 2 / row3-start / 2;
}

/*end card items dashboard*/

/*flat index page container for top(where map and flatlist is displayed*/

.container-flat-index {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
}

/* flat index page container for bottom (where tasks are displayed*/
.container-flat-index-tasks {
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

/*following item creation in top grid on flat-index-page*/

.item-map {
    grid-area: 1 / 1 / 5 / 1;
}

.item-list {
   grid-area: 1 / 2 / 5 / 2;
}


.item-task-a {
    grid-area: 1 / 1;
}
.item-task-b {
    grid-area: 1 / 2;
}
.item-task-c {
    grid-area: 1 / 3;
}