/* 95% content container, min-height due to footer positioning*/
.container {
    width:90%;
    margin-right: auto;
    margin-left: auto;
    text-align:center;
    height: 93vh;
}

.task-feed-container {
    grid-area: 1 / 1 / last-line / 1;
    justify-items:center;
    padding: 2px;
    padding-right: 12px;
    overflow-y: auto;
    height: 85vh;
}
/*container for dashboard items */
.dashboard-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto 33.33%;
    border-radius: 2px;
    padding: 4px;
    /*background: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(232,232,232,0.5) 32%, rgba(232,232,232,1) 40%), ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    background: #F4F4F4;
    }
/*container for task feed items inside the dashboard container*/


/*start card items dashboard*/
.item-a {
    grid-area: 3 / 3;
 /*   background-color: white;*/
    margin-bottom: 10px;
}

.item-b {
    grid-area: 3 / 2;
   /* background-color: white;*/
}

.item-c {
    grid-area: 1 / 3;
   /* background-color: white;*/
}

.utilities{
    color: $red;
}

.item-d {
    grid-area: 1 / 2;
    /*background-color: white;*/
    }

.cashflow{
        color: $green;
        }

.item-e {
    grid-area: 2 / 2 ;
}

.item-f {
    grid-area: 2 / 3;
    /*background-color: white;*/
}

/*end card items dashboard*/

/*flat index page container for top(where map and flatlist is displayed*/

.container-flat-index {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
}

/* flat index page container for bottom (where tasks are displayed*/
.container-flat-index-tasks {
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.container-flat-index-tasks-a{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items:center;
}

.container-flat-index-tasks-b{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items:center;
}

/*following item creation in top grid on flat-index-page*/

.item-map {
    grid-area: 1 / 1 / 5 / 1;
}

.item-list {
   grid-area: 1 / 2 / 5 / 2;
   overflow-y: auto;
   max-height: 700px;
}


.item-task-a {
    grid-area: 1 / 1;
}
.item-task-b {
    grid-area: 1 / 2;
}
.item-task-c {
    grid-area: 1 / 3;
}

/*Grid-Layout for CSS for flat show-page*/
/*container to display information on top of showpage*/
.kpi-container {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 2rem;
}

.kpi-container-item-a{
    grid-area: 1 / 1;
    border-right: thin double $dark-blue;
    border-left: thin double $dark-blue;
}

.kpi-container-item-b{
    grid-area: 1 / 2;
    border-right: thin double $dark-blue;
    border-left: thin double $dark-blue;
}
.kpi-container-item-c{
    grid-area: 1 / 3;
    border-right: thin double $dark-blue;
    border-left: thin double $dark-blue;
}
.kpi-container-item-d{
    grid-area: 1 / 4;
    border-right: thin double $dark-blue;
    border-left: thin double $dark-blue;
}

/*container for bottom half of page*/
.flat-info-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    margin-top: 16px;
}
/*left side column in flat-info-container*/
.flat-info-column-a{
    grid-area: 1 / 1;
    display:grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
    justify-content:center;
}

.flat-info-foto-display{
    grid-area: 1 / 1;
    /*width: 600px;
    margin-left: 7rem;*/
    height:250px;
    background: $gray;
}

.flat-info-button{
    grid-area: 2 / 1;
}
.flat-info-important{
    grid-area: 2 / 1;
    display:grid;
    justify-items: center;
    justify-content:center;
}
/*right side column in flat-info-container*/
.flat-info-column-b{
    grid-area: 1 / 2;
    display:grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 2;
    justify-content:center;
}
/*
.flat-info-column-b-item-a{
    grid-area: 1 / 1;
}

.flat-info-column-b-item-b{
    grid-area: 2 / 1;
}
.flat-info-column-b-item-c{
    grid-area: 3 / 1;
}

.flat-info-column-b-item-d{
    grid-area: 4 / 1;
}
*/
