.category-container{
  margin-left: 4vh;
}

.category-choices-edit {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
}

.order-first {
  order: -1;
}

.category-choice-edit {
  background: $dark-gray;
  min-width: 120px;
  padding: 4px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $dark-blue;
  color: white;
  opacity: 1;
    &:hover{
    cursor:pointer;
    filter: opacity(70%) drop-shadow(3px 3px 10px gray);
    }
  }
}

.comment {
  background-color: $light-gray;
  border-bottom: thin dashed $dark-gray;
  margin-left: 25px;
}


