h2 {
  margin: 16px 0px;
  &.header {
    // border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 16px;
    font-weight: bolder;
    color: rgb(72,72,72);
  }
}

h3 {
  font-size: 24px;
  font-weight: bolder;
  color: rgb(72,72,72);
  padding: 2px 0;
}
