.infobox{
    text-align:center;
    width: 20vw;
}

.infobox > i {
    font-size: 40px;
    color: #263c5b;
}

.infobox > p{
    color: #484848;
}

.infobox h3{
    color: #484848;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}